<center><h1>Surfs up</h1></center>

<form action="/take_name" method="post">
Whats your name <input type="text" name=name placeholder="Enter Name Here">
What is you Birthday <input type="text" name=date placeholder="Enter date Here">
  <select name=month>
    <option value="January">January</option>
    <option value="February">February</option>
    <option value="March">March</option>
    <option value="April">April</option>
    <option value="May">May</option>
    <option value="June">June</option>
    <option value="July">July</option>
    <option value="August">August</option>
    <option value="September">September</option>
    <option value="October">October</option>
    <option value="Novemeber">Novemeber</option>
    <option value="December">December</option>
  </select>
  <input type="submit" value="Complete">
</form>